<h1>Información de la galería</h1>
<p>Hay un problema de que crashea java cuando pongo volver a la pagina principal</p>
<p>pero se soluciona apretando F5 en la pagina principal </p>
<a href="/" class="button">Volver a la página principal</a>


