<h1>Información de la galería</h1>
<p>Aquí puedes agregar información detallada acerca de la galería.</p>
<p>Puedes incluir texto, imágenes, enlaces y cualquier otro elemento HTML que desees.</p>
<a href="/" class="button">Volver a la página principal</a>


