<!DOCTYPE HTML>
<!--
	Lens by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Lens by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload-0 is-preload-1 is-preload-2">

		<!-- Main -->
			<div id="main">

			<header id="header">
			<h1>Top RPGs</h1>
			<p>Asereje aja de je De jebe tude jebere sebiunouba
			majabi an de bugui an de buididipí <a href="http://html5up.net">HTML5 UP</a></p>
			<ul class="icons">
			  <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			  <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			  <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
			  <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<%= link_to 'Ver más', informacion_galeria_path, class: 'button' %>
		  </header>
		  

			
				<!-- Thumbnail -->
					<section id="thumbnails">
						<article>
							<a class="thumbnail" href="images/fulls/01.jpg" data-position="left center"><img src="images/thumbs/01.jpg" alt="" /></a>
							<h2>Chrono Trigger (1995)</h2>
							<p>Lanzado originalmente para la consola Super Nintendo Entertainment System (SNES). Fue desarrollado por un equipo de talentosos creadores, incluyendo a Hironobu Sakaguchi, el creador de la serie de juegos Final Fantasy, y Yuji Horii, el creador de la serie Dragon Quest.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/02.jpg"><img src="images/thumbs/02.jpg" alt="" /></a>
							<h2>The Legend of Zelda: Majora's Mask (2000)</h2>
							<p>The Legend of Zelda: Majora's Mask fue desarrollado por Nintendo Entertainment Analysis & Development, bajo la dirección de Eiji Aonuma.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/03.jpg" data-position="top center"><img src="images/thumbs/03.jpg" alt="" /></a>
							<h2>Fire Emblem: Path of Radiance (2005)</h2>
							<p>Fue desarrollado por Intelligent Systems y publicado por Nintendo. Intelligent Systems es un estudio interno de desarrollo de videojuegos de Nintendo que se especializa en la creación de juegos de estrategia por turnos.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/04.jpg"><img src="images/thumbs/04.jpg" alt="" /></a>
							<h2>Golden Sun (2001)</h2>
							<p>Golden Sun fue desarrollado por Camelot Software Planning, un estudio de desarrollo de videojuegos con sede en Japón. Camelot Software Planning es conocido por su trabajo en varios títulos de videojuegos, incluyendo la serie Golden Sun, así como los juegos de la serie Mario Tennis y Mario Golf en colaboración con Nintendo</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/05.jpg" data-position="top center"><img src="images/thumbs/05.jpg" alt="" /></a>
							<h2>The World Ends with You (2007)</h2>
							<p>Desarrollado por Square Enix y Jupiter Corporation. Square Enix es una reconocida empresa de desarrollo y publicación de videojuegos japonesa, conocida por títulos populares como la serie Final Fantasy y Kingdom Hearts.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/06.jpg"><img src="images/thumbs/06.jpg" alt="" /></a>
							<h2>Dragon Quest IX: Centinelas del firmamento (2009)</h2>
							<p>Desarrollado por Level-5 en colaboración con Armor Project. Level-5 es una reconocida empresa de desarrollo de videojuegos con sede en Japón, conocida por crear series populares como Yo-kai Watch, Inazuma Eleven y Ni no Kuni.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/07.jpg"><img src="images/thumbs/07.jpg" alt="" /></a>
							<h2>Terranigma (1995)</h2>
							<p>Desarrollado por Quintet y publicado por Enix. Quintet fue un estudio de desarrollo de videojuegos con sede en Japón, conocido por crear juegos como Soul Blazer, Illusion of Gaia y ActRaiser. </p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/08.jpg"><img src="images/thumbs/08.jpg" alt="" /></a>
							<h2>Pokemon Rubi/Zafiro (2002)</h2>
							<p>Desarrollado por Game Freak, un estudio de desarrollo de videojuegos japonés. Game Freak es conocido principalmente por su trabajo en la serie de videojuegos de Pokémon.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/09.jpg"><img src="images/thumbs/09.jpg" alt="" /></a>
							<h2>Final Fantasy VII (1997)</h2>
							<p>Desarrollado por Square Co., Ltd., que más tarde se convirtió en Square Enix. El juego fue dirigido por Hironobu Sakaguchi y producido por Shinji Hashimoto. El equipo de desarrollo incluyó a numerosos talentos, como el diseñador de personajes Tetsuya Nomura, el director de arte Yusuke Naora y el compositor Nobuo Uematsu</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/10.jpg"><img src="images/thumbs/10.jpg" alt="" /></a>
							<h2>Tactics Ogre: Let Us Cling Together (1995)</h2>
							<p>Desarrollado por Quest Corporation y publicado por Square Enix. El juego fue dirigido por Yasumi Matsuno y cuenta con diseños de personajes de Akihiko Yoshida.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/11.jpg"><img src="images/thumbs/11.jpg" alt="" /></a>
							<h2>Kingdom Hearts (2002)</h2>
							<p>Desarrollado por Square Enix en colaboración con Disney Interactive. El juego fue dirigido por Tetsuya Nomura y producido por Shinji Hashimoto.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/12.jpg"><img src="images/thumbs/12.jpg" alt="" /></a>
							<h2>
							Valkyrie Profile (2000)</h2>
							<p>Desarrollado por la compañía japonesa tri-Ace y publicado por Enix (ahora conocida como Square Enix). tri-Ace es un estudio de desarrollo de videojuegos conocido por crear juegos de rol, y Valkyrie Profile es uno de sus títulos más destacados. El juego fue dirigido por Yoshiharu Gotanda y cuenta con un enfoque único en la mitología nórdica y un sistema de batalla estratégico.</p>
						</article>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/main.js"></script>
		  
	</body>
</html>